:root{
  --black: black;
  --cyan: cyan;
  --grey: grey;
  --white: white;
  --red: #c9302c;
  --blue: royalblue;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 100%
}

body{
  background-color: var(--black);
}

/*links*/
a{
  color: var(--cyan);
}

a:hover{
  color: var(--red);
}


@media only screen and (max-device-width: 768px){
  body{
    font-size: 25px;
  }

  /*menu*/
  nav#toggle{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }

  /*menu lateral de animes*/
  main aside#anime-menu{
    padding-bottom: 25px;
    width: 92%;
  }

  aside#anime-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside div.card div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  aside div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*menu lateral de jogos*/
  main aside#games-menu{
    padding-bottom: 25px;
  }

  aside#games-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside#games-menu div.card div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  aside#games-menu div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*Carousel de animes e jogos*/
  main div.card.card-carousel{
    width: 92%;
  }

  div.card.card-carousel div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  div.card.card-carousel div.card-body{
    background-color: var(--grey);
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  div.card.card-carousel div.card-body img{
    height: 250px;
    width: 250px;
  }

  /*card de música*/
  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 15px;
    border-radius: 4px 4px 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 35px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 20px 0;
  }

  /*card de música da página inicial*/
  div.container-fluid div#card-music-home{
    display: flex;
    flex-direction: column;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 30px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*card de obesevação*/
  div.container-fluid div.card-note div.card-header{
    background-color: var(--red);
    padding: 15px;
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div.card-note div.card-body{
    background-color: var(--grey);
    padding: 15px;
    color: var(--white);
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*card de observação página inicial*/
  div.container-fluid div#card-note div.card-header{
    padding: 15px;
    background-color: var(--red);
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div#card-note div.card-body{
    padding: 15px;
    background-color: var(--grey);
    border-radius: 0 0 4px 4px;
    color: var(--white);
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }
  
  /*rodapé*/
  body footer{
    padding: 15px;
  }

  footer div.card div.card-header{
    padding: 15px;
    background-color: var(--red);
    border-radius: 4px 4px 0 0;
  }
 
  footer div.card div.card-body{
    padding: 15px;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*cards-animes-jogos*/
  div.container-fluid main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main div.row div.col-sm-4{
    position: relative;
    margin-bottom: 20px;
  }

  main div.row div.col-sm-4 div.card-content{
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
  }

  main div.row div.col-sm-4 div.card-content img{
    width: 292px;
    height: 291px;
    border-left: 3px solid var(--white);
    border-right: 3px solid var(--white);
    border-top: 3px solid var(--white);
  }

  main div.row div.col-sm-4 div.card-content div.card-footer{
    background-color: var(--grey);
    width: 76%;
    border-left: 3px solid var(--white);
    border-right: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
    text-align: center;
  }


}

@media only screen and (max-device-width: 414px){
  html{
    font-size: 16px;
  }

  /*menu*/
  nav#menu_full{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }

  /*menu lateral de animes*/
  main aside#anime-menu{
    padding: 15px;
    width: 100%;
  }

  aside#anime-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside div.card div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  aside div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*menu lateral de jogos*/
  main aside#games-menu{
    padding: 15px;
  }

  aside#games-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside#games-menu div.card div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  aside#games-menu div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*Carousel de animes e jogos*/
  main div.card.card-carousel{
    width: 92%;
  }

  div.card.card-carousel div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  div.card.card-carousel div.card-body{
    background-color: var(--grey);
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  div.card.card-carousel div.card-body img{
    height: 250px;
    width: 250px;
  }

  /*card de música*/
  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 15px;
    border-radius: 4px 4px 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 35px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 20px 0;
  }

  /*card de música da página inicial*/
  div.container-fluid div#card-music-home{
    display: flex;
    flex-direction: column;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 30px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*card de obesevação*/
  div.container-fluid div.card-note div.card-header{
    background-color: var(--red);
    padding: 15px;
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div.card-note div.card-body{
    background-color: var(--grey);
    padding: 15px;
    color: var(--white);
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*card de observação página inicial*/
  div.container-fluid div#card-note div.card-header{
    padding: 15px;
    background-color: var(--red);
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div#card-note div.card-body{
    padding: 15px;
    background-color: var(--grey);
    border-radius: 0 0 4px 4px;
    color: var(--white);
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }
  
  /*rodapé*/
  body footer{
    padding: 15px;
  }

  footer div.card div.card-header{
    padding: 15px;
    background-color: var(--red);
    border-radius: 4px 4px 0 0;
  }
 
  footer div.card div.card-body{
    padding: 15px;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*cards-animes-jogos*/
  div.container-fluid main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main div.row div.col-sm-4{
    position: relative;
    margin-bottom: 20px;
  }

  main div.row div.col-sm-4 div.card-content{
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
  }

  main div.row div.col-sm-4 div.card-content img{
    width: 292px;
    height: 291px;
    border-left: 3px solid var(--white);
    border-right: 3px solid var(--white);
    border-top: 3px solid var(--white);
  }

  main div.row div.col-sm-4 div.card-content div.card-footer{
    background-color: var(--grey);
    width: 76%;
    border-left: 3px solid var(--white);
    border-right: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
    text-align: center;
  }


}

@media only screen and (max-device-width: 360px){
  html{
    font-size: 16px;
  }

  /*menu*/
  nav#menu_full{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }

  /*menu lateral de animes*/
  main aside#anime-menu{
    padding: 15px;
    width: 100%;
  }

  aside#anime-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside div.card div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  aside div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*menu lateral de jogos*/
  main aside#games-menu{
    padding: 15px;
  }

  aside#games-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside#games-menu div.card div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  aside#games-menu div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*Carousel de animes*/
  div.card.card-carousel div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  div.card.card-carousel div.card-body{
    background-color: var(--grey);
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  div.card.card-carousel div.card-body img{
    height: 250px;
    width: 250px;
  }

  /*card de música*/
  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 15px;
    border-radius: 4px 4px 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 35px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 20px 0;
  }

  /*card de música da página inicial*/
  div.container-fluid div#card-music-home{
    display: flex;
    flex-direction: column;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 30px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*card de obesevação*/
  div.container-fluid div.card-note div.card-header{
    background-color: var(--red);
    padding: 15px;
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div.card-note div.card-body{
    background-color: var(--grey);
    padding: 15px;
    color: var(--white);
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*card de observação página inicial*/
  div.container-fluid div#card-note div.card-header{
    padding: 15px;
    background-color: var(--red);
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div#card-note div.card-body{
    padding: 15px;
    background-color: var(--grey);
    border-radius: 0 0 4px 4px;
    color: var(--white);
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }
  
  /*rodapé*/
  body footer{
    padding: 15px;
  }

  footer div.card div.card-header{
    padding: 15px;
    background-color: var(--red);
    border-radius: 4px 4px 0 0;
  }
 
  footer div.card div.card-body{
    padding: 15px;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  /*cards-animes-jogos*/
  div.container-fluid main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main div.row div.col-sm-4{
    position: relative;
    margin-bottom: 20px;
  }

  main div.row div.col-sm-4 div.card-content{
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
  }

  main div.row div.col-sm-4 div.card-content img{
    width: 250px;
    height: 250px;
    border-left: 3px solid var(--white);
    border-right: 3px solid var(--white);
    border-top: 3px solid var(--white);
  }

  main div.row div.col-sm-4 div.card-content div.card-footer{
    background-color: var(--grey);
    width: 76%;
    border-left: 3px solid var(--white);
    border-right: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
    text-align: center;
  }

}

