
*{
  box-sizing: border-box;
  margin: 0;
}

#toggle{display: none;}

body{background-color: Black;}

aside{background-color: lightgray;}

header{color: royalblue; 
  text-align: center;
}

p{color: white;}

h3{color:black;}

li{
  color: black;
}

#proximaPagina{background-color: #4f4f4f;}

a:link{
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}
a:visited {color: cyan;
  background-color: transparent;
  text-decoration: none;
}

a:hover {color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.card{
  border: 1px solid white;
}

.card-header{background-color: Cyan;}

.card-body{background-color: #4f4f4f;}

.card-footer{background-color: #4f4f4f;
  text-align: center;
}

footer{background-color: #363636;
  color: white;
}

.icon{
  font-size: 20px;
}

/* Extra large devices (computador / desktop) */
@media only screen and (min-device-width: 1200px) {

  /*Estilos globais*/
  #toggle{display: none;}

  img{height: 61vh;
    background-size: contain;
  }

  .card-conteudo{
    height: 100%;
  }

  .card-carousel{
    width: 62vw;
    margin-left: 1vw;
  }

  .card-observacao{
    width: 93vw;
    margin-left: 2vw;
  }

  .card-musica{
    margin-left: 2vw;
    width: 93vw;
    height: 415vh;;
  }

  footer{font-size: 15px;
    height: 15vh;
    width: 93vw;
    margin-left: 3vw;
  }

  /* P치gina index.html */
  aside{
    width: 29vw;
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
  }

  .link-margin-aside-animes{
    display: block;
    margin-bottom: 6%;
  }

  .link-margin-aside-jogos{
    display: block;
    margin-bottom: 8.6%;
  }

  .card-musica-observacao{
    width: 93vw; 
    margin-left: 2vw;
  }

}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-device-width: 992px) {

    Estilos globais
  #toggle{display: none;}

  footer{font-size: 15px;
        background-color: #363636;
        color: white;
        height: 15vh;
        margin-left: 2vw;
        margin-right: 2vw;
  }

  img{height: 61vh;
  background-size: contain;
  }

  .card{
    height: 69,5vh;
  }

  .card-carousel{
      width: 62vw;
      margin-left: 1vw;
  }

  .card-observacao{
    width: 94vw;
    margin-left: 1vw;
  }

  .card-musica{
      margin-left: 2vw;
      margin-right: 2vw;
      height: 325vh;;
  }

   P치gina index.html 
  aside{
    width: 29vw;
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    background-color: lightgray;
  }

  .card-musica-observacao{
    width: 87vw; 
    margin-left: 5vw;
  }

}*/

/* Medium devices (tablets) */
@media only screen and (max-width: 768px) and (max-height: 1024px) {

  #toggle{display: none;}

  #menu_full{
    font-size: 27px;
  }

  img{height: 30vh;
    background-size: contain;
  }

  .card-conteudo{
    height: 38vh;
  }

  #ajuste-linha{
    line-height: normal;
  }

  .card-footer{
    height: 8vh;
    font-size: 23px;
    text-align: center;
    line-height: 55px;
  }

  .card-carousel{
    height: 50vh;
    width: 62vw;
    margin-left: 1vw;
  }

  .altura-carousel-jogo{
    height: 45vh;
  }

  .card-observacao{
    width: 92vw;
    margin-left: 2vw;
    font-size: 25px;
  }

  .card-musica{
    margin-left: 2vw;
    margin-right: 2vw;
    height: 482vh;
    width: 92vw;
    font-size: 25px;
  }

  footer{font-size: 24px;
    height: 15vh;
    width: 92vw;
    margin-left: 4vw;
  }

  .footer-header{
    font-size: 27px;
  }

  .icon{
    font-size: 25px;
  }

  /* P치gina index.html */
  aside{
    height: 49vh;
    width: 29vw;
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;   
    font-size: 22px;
  }

  .link-margin-aside-animes{
    display: block;
    margin-bottom: 0.5%;
  }

  #aside-jogos{
    height: 39vh;
  }

  .link-margin-aside-jogos{
    display: block;
    margin-bottom: 4.4%;
  }

  .card-musica-observacao{
    width: 92vw; 
    margin-left: 2vw;
    font-size: 30px;
  }

}

/* Small devices (celulares pequeno) */
@media only screen and (max-device-width: 360px) and (max-device-height: 640px) {

  #toggle{
    display:block;
  }

  #menu_full{
    display: none;
  }

  img{height: 40vh;
    background-size: contain;
  }

  .img-preenchimento{
    width: 80vw;
  }

  .card-conteudo{
    height: 52vh;
    margin-bottom: 3vh;
  }

  #ajuste-linha{
    line-height: 50px;
  }

  .card-footer{
    height: 75px;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
  }

  .card-carousel{
    height: 75vh;
    width: 88vw;
    margin-left: 2vw;
  }

  .altura-carousel-jogo{
    height: 60vh;
  }

  .card-observacao{
    width: 88vw;
    margin-left: 2vw;
    font-size: 25px;
  }

  .card-musica{
    margin-left: 2vw;
    width: 88vw;
    height: 1090vh;
    font-size: 20px;
  }

  footer{font-size: 24px;
    width: 88vw;
    height: 15vh;
    margin-left: 6vw;
  }

  .footer-header{
    font-size: 27px;
  }

  .icon{
    font-size: 25px;
  }

  /* P치gina index.html */
  aside{
    height: 99vh;
    width: 88vw;
    margin-left: 2vw;
    margin-right: 1vw;
    margin-bottom: 3vh;   
    font-size: 22px;
    float: none;
  }

  .link-margin-aside-animes{
    display: block;
    margin-bottom: 8%;
  }

  #aside-jogos{
    height: 82vh;
  }

  .link-margin-aside-jogos{
    display: block;
    margin-bottom: 8%;
  }

  .card-musica-observacao{
    width: 88vw; 
    margin-left: 2vw;
    font-size: 25px;
  }

  .link-margin-card-musica{
    display: block;
    margin-bottom: 2%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-device-width: 600px) {

}







