
*{
  box-sizing: border-box;
  margin: 0;
}

#toggle{display: none;}

body{background-color: Black;}

aside{background-color: lightgray;}

header{color: royalblue; 
  text-align: center;
}

p{color: white;}

h3{color:black;}

li{
  color: black;
}

#proximaPagina{background-color: #4f4f4f;}

a:link{
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}
a:visited {color: cyan;
  background-color: transparent;
  text-decoration: none;
}

a:hover {color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.card{
  border: 1px solid white;
}

.card-header{background-color: Cyan;}

.card-body{background-color: #4f4f4f;}

.card-footer{background-color: #4f4f4f;
  text-align: center;
}

footer{background-color: #363636;
  color: white;
}

.icon{
  font-size: 20px;
}

/* Extra large devices (computador / desktop) */
@media only screen and (min-device-width: 1200px) {

  /*Estilos globais*/
  #toggle{display: none;}

  img{height: 25.05em;
    background-size: contain;
  }

  .card-conteudo{
    height: 28.25rem;
    margin: 0.11rem 0.11rem;
  }

  .card-carousel{
    width: 53rem;
    margin: 0rem 1rem;
  }

  .card-observacao{
    width: 80rem;
    margin: 0rem 1rem;
  }

  .card-musica{
    margin: 0rem 1rem;
    width: 80rem;
    height: 171rem;
  }

  footer{font-size: 15px;
    height: 11rem;
    width: 80rem;
    margin: 0rem 2rem;
  }

  /* P치gina index.html */
  aside{
    width: 25rem;
    margin-left: 2rem;
    margin-right: 0.5rem;
    float: right;
  }

  .link-margin-aside-animes{
    display: block;
    margin-bottom: 1.32em;
  }

  .link-margin-aside-jogos{
    display: block;
    margin-bottom: 2.2em;
  }

  .card-musica-observacao{
    width: 80rem; 
    margin: 0rem 1rem;
  }

}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-device-width: 992px) {

    Estilos globais
  #toggle{display: none;}

  footer{font-size: 15px;
        background-color: #363636;
        color: white;
        height: 15vh;
        margin-left: 2vw;
        margin-right: 2vw;
  }

  img{height: 61vh;
  background-size: contain;
  }

  .card{
    height: 69,5vh;
  }

  .card-carousel{
      width: 62vw;
      margin-left: 1vw;
  }

  .card-observacao{
    width: 94vw;
    margin-left: 1vw;
  }

  .card-musica{
      margin-left: 2vw;
      margin-right: 2vw;
      height: 325vh;;
  }

   P치gina index.html 
  aside{
    width: 29vw;
    margin-left: 2vw;
    margin-right: 1vw;
    float: right;
    background-color: lightgray;
  }

  .card-musica-observacao{
    width: 87vw; 
    margin-left: 5vw;
  }

}*/

/* Medium devices (tablets) */
@media only screen and (max-width: 768px) and (max-height: 1024px) {

  #toggle{display: none;}

  #menu_full{
    font-size: 1.67em;
  }

  img{height: 19.2em;
    background-size: contain;
  }

  .card-conteudo{
    height: 24.5rem;
    margin: 0.5rem 0.01rem;
  }

  #ajuste-linha{
    line-height: normal;
  }

  .card-footer{
    height: 3.6em;
    font-size: 1.43em;
    text-align: center;
    line-height: 2.5em;
  }

  .card-carousel{
    height: 32rem;
    width: 29.8rem;
    margin: 0rem 0.5rem;
  }

  .altura-carousel-jogo{
    height: 29rem;
  }

  .card-observacao{
    width: 44rem;
    margin: 0rem 1rem;
    font-size: 1.9em;
  }

  .card-musica{
    margin: 0rem 1rem;
    height: 340rem;
    width: 44rem;
    font-size: 1.7em;
  }

  footer{font-size: 2em;
    height: 13.4rem;
    width: 44rem;
    margin: 0rem 2rem;
  }

  .footer-header{
    font-size: 1.6em;
  }

  .icon{
    font-size: 1.4em;
  }

  /* P치gina index.html */
  aside{
    height: 32rem;
    width: 14rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    float: right;   
    font-size: 1.39em;
  }

  .link-margin-aside-animes{
    display: block;
    margin-bottom: 0.04em;
  }

  #aside-jogos{
    height: 28.8rem;
  }

  .link-margin-aside-jogos{
    display: block;
    margin-bottom: 0.37em;
  }

  .card-musica-observacao{
    width: 44rem; 
    margin: 0rem 1rem;
    font-size: 1.9em;
  }

}

/* Small devices (celulares pequeno) */
@media only screen and (max-device-width: 360px) and (max-device-height: 640px) {

  #toggle{
    display:block;
  }

  #menu_full{
    display: none;
  }

  img{height: 16rem;
    background-size: contain;
  }

  .img-preenchimento{
    width: 17em;
  }

  .card-conteudo{
    height: 20.84rem;
    margin: 1.1rem 0.01rem;
  }

  #ajuste-linha{
    line-height: 2em;
  }

  .card-footer{
    height: 3.3em;
    font-size: 1.5em;
    text-align: center;
    line-height: 2.1em;
  }

  .card-carousel{
    height: 31rem;
    width: 19.5rem;
    margin: 1rem 0.5rem;
  }

  .altura-carousel-jogo{
    height: 28rem;
  }

  .card-observacao{
    width: 19.5rem;
    margin: 0.5rem 0.5rem;
    font-size: 1.56em;
  }

  .card-musica{
    margin: 0.5rem 0.5rem;
    width: 19.5rem;
    height: 446rem;
    font-size: 1.25em;
  }

  footer{font-size: 1.4em;
    width: 19.5rem;
    height: 20.8rem;
    margin: 0.5rem 1.5rem;
  }

  .footer-header{
    font-size: 1.68em;
  }

  .icon{
    font-size: 1.5em;
  }

  /* P치gina index.html */
  aside{
    height: 38.95rem;
    width: 19.5rem;
    margin: 0.5rem 0.5rem; 
    font-size: 1.37em;
    float: none;
  }

  .link-margin-aside-animes{
    display: block;
    margin-bottom: 1em;
  }

  #aside-jogos{
    height: 32.4rem;
  }

  .link-margin-aside-jogos{
    display: block;
    margin-bottom: 1em;
  }

  .card-musica-observacao{
    width: 19.5rem; 
    margin: 0.5rem 0.5rem;
    font-size: 1.56em;
  }

  .link-margin-card-musica{
    display: block;
    margin-bottom: 0.2em;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-device-width: 600px) {

}







