<!DOCTYPE HTML>
<html lang="pt-br">
<head>

	<%- include("./components/Page-Head.ejs", {title: "AniJogos - Inicio"}) %> 

</head>
<body>
	<!-- Menu de navegação -->

	<%- include("./components/Page-Nav.ejs") %> 

	<div class="container-fluid">
		<main>
			<!-- Menu Lateral, sites de animes -->
			<aside id="anime-menu">
				<div class="card">
					<div class="card-header">
						<h3>Sites bons para assistir animes</h3>
					</div>
					<div class="card-body">
						
							<a href="https://assistiranimeson.com/" target="_blank" tabindex="5" class="link-margin-aside-animes">Animes ON</a>
							<a href="https://animesonline.cc/tv/" target="_blank" tabindex="6" class="link-margin-aside-animes">Animes Online</a>		
							<a href="https://animesonline.vip/" target="_blank" tabindex="7" class="link-margin-aside-animes">Animes Online Vip</a>		
							<a href="https://animesorion.vip/" target="_blank" tabindex="8" class="link-margin-aside-animes">Animes Orion</a>
					
							<a href="https://www.anitube.site/" target="_blank" tabindex="9" class="link-margin-aside-animes">AniTube</a>
							<a href="https://nowanimes.com/" target="_blank" tabindex="10" class="link-margin-aside-animes">BR animes (Now Animes)</a>
							<a href="https://www.crunchyroll.com/pt-br" target="_blank" tabindex="11" class="link-margin-aside-animes">Crunchyroll</a>
							<a href="https://www.meuanime.com/" target="_blank" tabindex="12" class="link-margin-aside-animes">Meu Anime</a>
					
					</div>
				</div>
			</aside>
			<!--Carousel Animes --->
			<div class="card card-carousel">
				<div class="card-header">
					<h1>Animes em alta no momento</h1>
				</div>
				<div class="card-body">
					<div class="carousel slide" id="carousel_anime" data-ride="carousel">
						<!-- carousel indicadores -->
						<ul class="carousel-indicators">
							<li data-target="#carousel_anime" data-slide-to="0" class="active"></li>
							<li data-target="#carousel_anime" data-slide-to="1"></li>
							<li data-target="#carousel_anime" data-slide-to="2"></li>
							<li data-target="#carousel_anime" data-slide-to="3"></li>
							<li data-target="#carousel_anime" data-slide-to="4"></li>		
						</ul>
						<!-- Carousel Slides -->
						<div class="carousel-inner">
							<div class="carousel-item active">
								<a href="https://www.meuanime.com/shingeki-no-kyojin" target="_blank"><img src="img/animes/Shingeki.jpg" class="mx-auto d-block img-preenchimento"></a>
							</div>
							<div class="carousel-item">
								<a href="https://www.meuanime.com/kimetsu-no-yaiba" target="_blank"><img src="img/animes/DemonSlayer.jpg" class="mx-auto d-block img-preenchimento"></a>
							</div>
							<div class="carousel-item">
								<a href="https://www.meuanime.com/black-clover" target="_blank"><img src="img/animes/BlackClover.jpg" class="mx-auto d-block img-preenchimento"></a>
							</div>
							<div class="carousel-item">
								<a href="https://www.meuanime.com/one-piece" target="_blank"><img src="img/animes/OnePiece.jpg" class="mx-auto d-block img-preenchimento"></a>
							</div>
							<div class="carousel-item">
								<a href="https://www.meuanime.com/boruto-naruto-next-generations" target="_blank"><img src="img/animes/Boruto.jpg" class="mx-auto d-block img-preenchimento"></a>
							</div>
						</div>
						<!-- Carousel controles -->
						<a href="#carousel_anime" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
						<a href="#carousel_anime" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>
					</div>
				</div>
			</div>
			<br>
			<!-- Guia Lateral, sites de jogos -->
			<aside id="games-menu">
				<div class="card">
					<div class="card-header">
						<h3>Sites bons para baixar jogos</h3>
					</div>
					<div class="card-body">
						
							<a href="https://coolrom.com.au/" target="_blank" tabindex="14" class="link-margin-aside-jogos">Cool Rom</a>
							<a href="http://www.emuroms.ch/" target="_blank" tabindex="15" class="link-margin-aside-jogos">Emu Rooms</a>
							<a href="https://www.freeroms.com/" target="_blank" tabindex="16" class="link-margin-aside-jogos">Free Roms</a>
							<a href="https://roms-download.com/" target="_blank" tabindex="17" class="link-margin-aside-jogos">Roms-Download</a>
						
							<a href="https://www.romsgames.net/" target="_blank" tabindex="18" class="link-margin-aside-jogos">Roms Games</a>
							<a href="https://romsmania.cc/" target="_blank" tabindex="19" class="link-margin-aside-jogos">Roma Mania</a>
							<a href="https://www.romsmax.com/snes/" target="_blank" tabindex="20" class="link-margin-aside-jogos">Roms Max</a>	
					
					</div>
				</div>
			</aside>
			<!-- Carousel de Jogos -->
			<div class="card card-carousel">
				<div class="card-header">
					<h1>Jogos clássicos</h1>
				</div>
				<div class="card-body">
					<div class="carousel slide" data-ride="carousel" id="carousel_jogo">
						<!-- Carousel indicadores -->
						<ul class="carousel-indicators">
							<li data-target="#carousel_jogo" data-slide-to="0" class="active"></li>
							<li data-target="#carousel_jogo" data-slide-to="1"></li>
							<li data-target="#carousel_jogo" data-slide-to="2"></li>
						</ul>
						<!-- Carousel Slides -->
						<div class="carousel-inner">
							<div class="carousel-item active">
								<a href="https://www.romsmax.com/snes/super-mario-world-portugues/" target="_blank"><img src="img/jogos/SuperMario.jpg" class="mx-auto d-block img-preenchimento"></a>
							</div>
							<div class="carousel-item">
								<a href="https://romsportugues.tk/resident-evil-directors-cut/" target="_blank"><img src="img/jogos/ResidentEvil1.jpg" class="mx-auto d-block img-preenchimento"></a>
							</div>
							<div class="carousel-item">
								<a href="https://www.emulatorgames.net/roms/nintendo-ds/need-for-speed-most-wanted/" target="_blank"><img src="img/jogos/NeedForSpeedMostWanted.jpg" class="mx-auto d-block img-preenchimento"></a>
							</div>
						</div>
						<!-- Carousel controles -->
						<a href="#carousel_jogo" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
						<a href="#carousel_jogo" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>
					</div>
				</div>
			</div>
		</main>
		<br>
		<!-- Musicas mais tocadas -->
		<div id="card-music-home">
			<div class="card-header">
				<h1 class="cabecalho-musica-observacao">Músicas mais tocadas</h1>
			</div>
				<div class="card-body">
					<ul>
						<li><a href="https://www.youtube.com/watch?v=-hLryBwWTiM" target="_blank" tabindex="21" class="link-margin-card-musica">FullMetal Alchemist Brotherhood OP 1 : Again - Yui - Full Version</a></li>
						<br>
						<li><a href="https://www.youtube.com/watch?v=sA7qYWH-UvU" target="_blank" tabindex="22" class="link-margin-card-musica">Shingeki no Kyojin | Linked Horizon - 紅蓮の弓矢 | Opening 1</a></li>
						<br>
						<li><a href="https://www.youtube.com/watch?v=lyTcR588Vms" target="_blank" tabindex="23" class="link-margin-card-musica">One Piece Opening 13 - "One Day"</a></li>
						<br>
						<li><a href="https://www.youtube.com/watch?v=MREJhcgFML0&t=172s" target="_blank" tabindex="24" class="link-margin-card-musica">Naruto Shippuden Opening 6 Flow-Sign</a></li>
					</ul>
			</div>		
		</div>
		<br>
		<!-- Quem Somos? E qual o intuito dessa página? -->
		<div id="card-note">
			<div class="card-header">
				<h1 class="cabecalho-musica-observacao">Quem somos? E qual o intuito dessa página?</h1>
			</div>
			<div class="card-body">
				<p>Essa página tem o foco em entretenimento dos usuários, nós da administração como todos que gostam desse tipo de conteúdo sabemos que apesar de existir muitos sites que disponibilizam esse tipo de conteúdo, infelizmente alguns que foram muito bons um dia hoje se encontram em um mar de propagandas no qual o usuário não consegue dar um click sem abrir um anúncio, esse site tem o intuito de indicar alguns bons sites para a alegria dos internautas, como também disponibilizar links de alguns conteúdos que estão em alta no momento, assim os redirecionando direto para o conteúdo desejado, sem precisar passar pela dificuldade que é clicar em um click e abrir 3 páginas de uma vez só!<br><br>
				Se você tem alguma sugestão de anime/jogo/música, ou algum dos link estiver quebrado, ou possuir sugestões para melhorar a página, mande mensagem para nós, o link do facebook do administrador responsavel por essas operações esta logo a baixo!</p>
			</div>
		</div>
		<br>
	</div>

	<!--Rodapé-->
	
	<%- include("./components/Page-Footer.ejs") %> 

</body>
</html>
