<!DOCTYPE html>
<html lang="pt-br">
<head>
 
    <%- include("./components/Page-Head.ejs", {title: "AniJogos - Atualizar Registros"}) %> 

</head>
<body>

    <%- include("./components/Page-Nav.ejs") %>
    
    <div id="content">
        <%- include("./components/Page-Aside-Registers.ejs") %> 
    </div>

</body>
</html>