<!DOCTYPE html>
<html lang="pt-br">
<head>
 
    <%- include("./components/Page-Head.ejs", {title: "AniJogos - Atualizar/Deletar Registros"}) %> 

</head>
<body>

    <%- include("./components/Page-Nav.ejs") %>
    
    <div id="content">
        <%- include("./components/Page-Aside-Registers.ejs") %> 

           
        <main id="main-form">
            <div>
                <!--Atualizar/Deletar animes-->
                <form action="/registers/consult/animes" method="post" class="form-group">
                    <fieldset>
                        <legend>Atualizar/Deletar Anime</legend>

                        <div class="input-group">
                            <label for="anime-name">Nome do anime:</label>
                            <input type="text" name="anime-name" id="anime-name" >
                        </div>

                        <div id="button-group">
                            <button type="submit" class="confirm">Confirmar</button>
                            <button type="reset" class="cancel">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
            
                <!--Atualizar/Deletar jogos-->
                <form action="/registers/consult/games" method="post" class="form-group">
                    <fieldset>
                        <legend>Atualizar/Deletar Jogo</legend>

                        <div class="input-group">
                            <label for="games-name">Nome do jogo:</label>
                            <input type="text" name="games-name" id="games-name">
                        </div>
            
                        <div id="button-group">
                            <button type="submit" class="confirm">Confirmar</button>
                            <button type="reset" class="cancel">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            
            <div>      
                <!--Atualizar/Deletar contato-->
                <form action="/registers/consult/contacts" method="post" class="form-group">
                    <fieldset>
                        <legend>Atualizar/Deletar Contato</legend>

                        <div class="input-group">
                            <label for="contact-name">Nome do contato:</label>
                            <input type="text" name="contact-name" id="contact-name" >
                        </div>

                        <div id="button-group">
                            <button type="submit" class="confirm">Confirmar</button>
                            <button type="reset" class="cancel">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
                    
                <!--Atualizar/Deletar usuario-->
                <form action="/registers/consult/users" method="post" class="form-group">
                    <fieldset>
                        <legend>Atualizar/Deletar usuario</legend>

                        <div class="input-group">
                            <label for="user-name">Nome do usuário:</label>
                            <input type="text" name="user-name" id="user-name" >
                        </div>

                        <div id="button-group">
                            <button type="submit" class="confirm">Confirmar</button>
                            <button type="reset" class="cancel">Cancelar</button>
                        </div>
                    </fieldset>
                </form>     
            </div>

            <div>
                <!--Atualizar/Deletar site-->
                <form action="/registers/consult/sites" method="post" class="form-group">
                    <fieldset>
                        <legend>Atualizar/Deletar Site</legend>

                        <div class="input-group">
                            <label for="site-name">Nome do site:</label>
                            <input type="text" name="site-name" id="site-name" >
                        </div>

                        <div id="button-group">
                            <button type="submit" class="confirm">Confirmar</button>
                            <button type="reset" class="cancel">Cancelar</button>
                        </div>
                    </fieldset>
                </form>

                <!--Atualizar/Deletar musicas-->
                <form action="/registers/consult/songs" method="post" class="form-group">
                    <fieldset>
                        <legend>Atualizar/Deletar Musica</legend>

                        <div class="input-group">
                            <label for="song-name">Nome da musica:</label>
                            <input type="text" name="song-name" id="song-name" >
                        </div>

                        <div id="button-group">
                            <button type="submit" class="confirm">Confirmar</button>
                            <button type="reset" class="cancel">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <!--Atualizar/Deletar observações-->
            <div id="observation-form">
                <form action="/registers/consult/observations" method="post" class="form-group">
                    <fieldset>
                        <legend>Atualizar/Deletar informação/observação</legend>
                            <div class="input-group">
                                <label for="observation-name">Nome identificador:</label>
                                <input type="text" name="observation-name" id="observation-name">
                            </div>
                            <div id="button-group">
                                <button type="submit" class="confirm">Confirmar</button>
                                <button type="reset" class="cancel">Cancelar</button>
                            </div>
                    
                    </fieldset>
                </form>
            </div>
        </main>
    
    </div>
</html>