:root{
    --black: #000000;
    --blue: #4169E1;
    --whiteSmoke: #F5F5F5;
    --darkgray: #A9A9A9;
}

/*Aside da página de registros*/

div#content aside{
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: var(--whitesmoke);
    border-radius: 1rem;
    border: 0.0625rem solid var(--black);
}

aside div header h2#user-data{
    text-align: center;
    background-color: var(--blue);
    border-radius: 1rem 1rem 0 0;
    padding: 0.9375rem;
}

aside div header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1.25rem 0;
}

aside div header img{
    width: 35%;
    border-radius: 50%;
}

aside div#aside-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.875rem 0 1.875rem 0;
    align-items: center;
}

aside div#aside-content img{
    width: 45%;
}

aside div#aside-content a{
    text-decoration: none;
    color: var(--black);
}


@media screen and (max-device-width: 962px) {
    div#content aside{
        height: 10%;
        margin: 5% 2%;
    }

    aside div header div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 1.25rem 0;
    }
    
    aside div header h2#user-data{
        font-size: 2.1875rem;
        padding: 0.625rem;
    }

    aside div#aside-content{
        padding: 0.9375rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        align-self: center;
    }

    aside div#aside-content a img{
        width: 45%;
    }
}

@media screen and (max-device-width: 540px) {
    div#content aside{
        height: 10%;
        margin: 5% 2%;
    }

    aside div header div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 1.25rem 0;
    }
    
    aside div header h2#user-data{
        font-size: 1.5625rem;
        padding: 0.625rem;
    }

    aside div#aside-content{
        padding: 0.9375rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    aside div#aside-content a img{
        width: 45%;
    }
}


/*aside da página para atualizar/deletar registros*/
div#update-delete-data main aside{
    width: 30%;
    position: relative;
    right: 5%;
    background-color: var(--whitesmoke);
    border: 0.0625rem solid var(--black);
    border-radius: 0.75rem;
}

div#update-delete-data main aside div header{
    padding: 0.625rem;
    background-color: var(--darkgray);
    border: 0.0625rem solid var(--black);
    border-radius: 0.5rem 0.5rem 0 0;
}

div#update-delete-data main aside div div#delete-image-button{
    display: flex;
    flex-direction: row;
    padding: 0.625rem;
    align-items: center;
    justify-content: space-evenly;
}

div#update-delete-data main aside div img{
    width: 35%;
    height: 35%;
}

@media screen and (min-device-width: 963px) {
    div#update-delete-data main aside{
        width: 30%;
        margin-left: 5%;
    }

    main aside div{
        width: 100%;     
    }

    aside div header h2#user-data{
        font-size: 1.5625rem;
        padding: 0.625rem;
    }

    aside div#aside-content{
        padding: 0.9375rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    aside div#aside-content a img{
        width: 40%;
    }
}

@media screen and (max-device-width: 962px) {
    div#update-delete-data main aside{
        width: 95%;
        margin-left: 10%;
    }

    main aside div{
        width: 100%;      
    }

    aside div header h2#user-data{
        font-size: 1.5625rem;
        padding: 0.625rem;
    }

    aside div#aside-content{
        padding: 0.9375rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    aside div#aside-content a img{
        width: 40%;
    }
}

