:root{
    --cyan: #00FFFF;
    --grey: #808080;
    --white: #FFFFFF;
}
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
@media only screen and (min-device-width: 963px){

    
  /*menu lateral de animes*/
  main aside#anime-menu{
    padding-bottom: 1.5625rem;
    width: 28%;
    float:right;
    margin-right: 3%;
  }

  aside#anime-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside div.card div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 1rem 1rem 0 0;
  }

  aside div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0.625rem 0.625rem 1.25rem;
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*menu lateral de jogos*/
  main aside#games-menu{
    padding-bottom: 1.5625rem;
    width: 28%;
    float:right;
    margin-right: 3%;
  }

  aside#games-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside#games-menu div.card div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 1rem 1rem 0 0;
  }

  aside#games-menu div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0 0.625rem 1.25rem;
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

}

@media only screen and (max-device-width: 962px) and (min-device-width: 769px){
     /*menu lateral de animes*/
  main aside#anime-menu{
    padding-bottom: 1.875rem;
    width: 80%;
  }

  aside#anime-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside div.card div.card-header{
    background-color: var(--cyan);
    padding: 1.25rem;
    border-radius: 1rem 1rem 0 0;
    
  }

  aside div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0 1.25rem 1.25rem;
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*menu lateral de jogos*/
  main aside#games-menu{
    padding-bottom: 1.875rem;
    width: 80%;
  }

  aside#games-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside#games-menu div.card div.card-header{
    background-color: var(--cyan);
    padding: 0.9375rem;
    border-radius: 1rem 1rem 0 0;
  }

  aside#games-menu div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0 1.25rem 1.25rem;
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

}


@media only screen and (max-device-width: 768px) and (min-device-width: 541px){
      /*menu lateral de animes*/
  main aside#anime-menu{
    padding-bottom: 1.5625rem;
    width: 80%;
  }

  aside#anime-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside div.card div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  aside div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0 0.625rem 1.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*menu lateral de jogos*/
  main aside#games-menu{
    padding-bottom: 1.5625rem;
    width: 80%;
  }

  aside#games-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside#games-menu div.card div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  aside#games-menu div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0 0.625rem 1.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

}

@media only screen and (max-device-width: 540px) and (min-device-width: 415px){
    
  /*menu lateral de animes*/
  main aside#anime-menu{
    padding: 0.9375rem;
    width: 98%;
  }

  aside#anime-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside div.card div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  aside div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0 0.625rem 1.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*menu lateral de jogos*/
  main aside#games-menu{
    padding: 0.9375rem;
    width: 98%;
  }

  aside#games-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside#games-menu div.card div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  aside#games-menu div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0 0.625rem 1.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 414px) and (min-device-width: 361px){

    /*menu lateral de animes*/
  main aside#anime-menu{
    padding: 0.9375rem;
    width: 100%;
  }

  aside#anime-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside div.card div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  aside div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0 0.625rem 1.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*menu lateral de jogos*/
  main aside#games-menu{
    padding: 0.9375rem;
    width: 100%;
  }

  aside#games-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside#games-menu div.card div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  aside#games-menu div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0 0.625rem 1.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 360px){
    /*menu lateral de animes*/
  main aside#anime-menu{
    padding: 0.9375rem;
    width: 110%;
  }

  aside#anime-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside div.card div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  aside div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0 0.625rem 1.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*menu lateral de jogos*/
  main aside#games-menu{
    padding: 0.9375rem;
    width: 110%;
  }

  aside#games-menu div.card{
    display: flex;
    flex-direction: column;
  }

  aside#games-menu div.card div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  aside#games-menu div.card div.card-body{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0 0.625rem 1.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}
