:root{
    --black: black;
    --cyan: cyan;
    --grey: grey;
    --white: white;
    --red: #c9302c;
    --blue: royalblue;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
@media only screen and (min-device-width: 963px){

     /*card de música*/
  main div.card-music{
    width: 70%;
    position: relative;
    left: 15%;
  }

  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 1.5625rem;
    border-radius: 16px 16px 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 50px;
    border-radius: 0 0 16px 16px;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 1.25rem 0;
  }

  /*card de música da página inicial*/

  div.container-fluid div#card-music-home{
    width: 70%;
    position: relative;
    left: 15%;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 16px 16px 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding-left: 80px;
    border-radius: 0 0 16px 16px;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

}

@media only screen and (max-device-width: 962px) and (min-device-width: 769px){

      /*card de música*/
  main div.card-music{
    width: 80%;
  }

  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 25px;
    border-radius: 16px 16px 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 55px;
    border-radius: 0 0 16px 16px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 20px 0;
  }

  /*card de música da página inicial*/

  div.container-fluid div#card-music-home{
    width: 80%;
    position: relative;
    left: 95px;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);

    border-radius: 16px 16px 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 35px 100px;
    border-radius: 0 0 16px 16px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

}


@media only screen and (max-device-width: 768px) and (min-device-width: 541px){

     /*card de música*/
  main div.card-music{
    width: 80%;
  }

  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 25px;
    border-radius: 4px 4px 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 55px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 20px 0;
  }

  /*card de música da página inicial*/

  div.container-fluid div#card-music-home{
    width: 80%;
    position: relative;
    left: 75px;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 20px;
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 35px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

}


@media only screen and (max-device-width: 540px) and (min-device-width: 415px){

     /*card de música*/
  main div.card-music{
    width: 92%;
  }

  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 15px;
    border-radius: 4px 4px 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 35px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 20px 0;
  }

  /*card de música da página inicial*/
  div.container-fluid div#card-music-home{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    width: 92%;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 30px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

}

@media only screen and (max-device-width: 414px) and (min-device-width: 361px){

    /*card de música*/
  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 15px;
    border-radius: 4px 4px 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 35px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 20px 0;
  }

  /*card de música da página inicial*/
  div.container-fluid div#card-music-home{
    display: flex;
    flex-direction: column;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 30px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

}

@media only screen and (max-device-width: 360px){

    /*card de música*/
  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 15px;
    border-radius: 4px 4px 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 35px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 20px 0;
  }

  /*card de música da página inicial*/
  div.container-fluid div#card-music-home{
    display: flex;
    flex-direction: column;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 30px;
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }

}
