:root{
    --grey: #808080;
    --white: #FFFFFF;
    --red: white;

}
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

footer div.card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer div.card-body div img{
  border-radius: 50%;
}

footer div.card-body div#user-image{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center
}

@media only screen and (min-device-width: 963px){

  /*rodapé*/
  body footer{
    width: 68.5%;
    position: relative;
    left: 15.75%;
  }

  footer div.card div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 1rem 1rem 0 0;
  }
 
  footer div.card div.card-body{
    padding: 0.9375rem;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  footer div.card-body div img{
    width: 20%;
  }
}

@media only screen and (max-device-width: 962px) and (min-device-width: 769px){

  /*rodapé*/
  body footer{
    width: 78%;
    position: relative;
    left: 6.75rem;
  }

  footer div.card div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 1rem 1rem 0 0;
  }
 
  footer div.card div.card-body{
    padding: 0.9375rem;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  footer div.card-body div img{
    width: 50%;
  }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 541px){

  /*rodapé*/
  body footer{
    width: 78%;
    position: relative;
    left: 5.3125rem;
  }

  footer div.card div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 0.25rem 0.25rem 0 0;
  }
 
  footer div.card div.card-body{
    padding: 0.9375rem;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  footer div.card-body div img{
    width: 50%;
  }
}

@media only screen and (max-device-width: 540px) and (min-device-width: 415px){

  /*rodapé*/
  body footer{
    padding: 0.9375rem;
    position: relative;
    left: 1.25rem;
    width: 92%;
  }

  footer div.card div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 0.25rem 0.25rem 0 0;
  }
 
  footer div.card div.card-body{
    padding: 0.9375rem;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  footer div.card-body div img{
    width: 50%;
  }
}

@media only screen and (max-device-width: 414px) and (min-device-width: 361px){

   /*rodapé*/
   body footer{
    padding: 0.9375rem;
  }

  footer div.card div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 0.25rem 0.25rem 0 0;
  }
 
  footer div.card div.card-body{
    padding: 0.9375rem;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  footer div.card-body div img{
    width: 50%;
  }
}

@media only screen and (max-device-width: 360px){

  /*rodapé*/
  body footer{
    padding: 0.9375rem;
  }

  footer div.card div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 0.25rem 0.25rem 0 0;
  }
 
  footer div.card div.card-body{
    padding: 0.9375rem;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  footer div.card-body div img{
    width: 60%;
  }
}
