:root{
    --grey: #808080;
    --white: #FFFFFF;
}
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*cards-animes-jogos*/

@media only screen and (min-device-width: 963px){

  main div.row div.col-sm-4 div.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
  }

  main div.row div.col-sm-4 div.card-content img{
    width: 95%;
    height: 18.75rem;
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-top: 0.1875rem solid var(--white);
  }

  main div.row div.col-sm-4 div.card-content div.card-footer{
    background-color: var(--grey);
    width: 95%;
    
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-bottom: 0.1875rem solid var(--white);
    text-align: center;
  }
}

@media only screen and (max-device-width: 962px) and (min-device-width: 769px){

   /*cards-animes-jogos*/
  div.container-fluid main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main div.row div.col-sm-4{
    position: relative;
    
  }

  main div.row div.col-sm-4 div.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
  }

  main div.row div.col-sm-4 div.card-content img{
    width: 18.75rem;
    height: 18.75rem;
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-top: 0.1875rem solid var(--white);
  }

  main div.row div.col-sm-4 div.card-content div.card-footer{
    background-color: var(--grey);
    width: 104%;
    height: 25%;
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-bottom: 0.1875rem solid var(--white);
    text-align: center;
  }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 541px){

  /*cards-animes-jogos*/
  div.container-fluid main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main div.row div.col-sm-4{
    position: relative;
    
  }

  main div.row div.col-sm-4 div.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 23.75rem;
  }

  main div.row div.col-sm-4 div.card-content img{
    width: 15.3125rem;
    height: 15.3125rem;
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-top: 0.1875rem solid var(--white);
  }

  main div.row div.col-sm-4 div.card-content div.card-footer{
    background-color: var(--grey);
    width: 109%;
    height: 6.25rem;
    
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-bottom: 0.1875rem solid var(--white);
    text-align: center;
  }
}

@media only screen and (max-device-width: 540px) and (min-device-width: 415px){

  /*cards-animes-jogos*/
  div.container-fluid main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main div.row div.col-sm-4{
    position: relative;
    margin-bottom: 1.25rem;
  }

  main div.row div.col-sm-4 div.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main div.row div.col-sm-4 div.card-content img{
    width: 76%;
    height: 18.1875rem;
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-top: 0.1875rem solid var(--white);
  }

  main div.row div.col-sm-4 div.card-content div.card-footer{
    background-color: var(--grey);
    width: 76%;
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-bottom: 0.1875rem solid var(--white);
    text-align: center;
  }
}

@media only screen and (max-device-width: 414px) and (min-device-width: 361px){

  /*cards-animes-jogos*/
  div.container-fluid main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main div.row div.col-sm-4{
    position: relative;
    margin-bottom: 1.25rem;
  }

  main div.row div.col-sm-4 div.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main div.row div.col-sm-4 div.card-content img{
    width: 76%;
    height: 18.1875rem;
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-top: 0.1875rem solid var(--white);
  }

  main div.row div.col-sm-4 div.card-content div.card-footer{
    background-color: var(--grey);
    width: 76%;
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-bottom: 0.1875rem solid var(--white);
    text-align: center;
  }
}

@media only screen and (max-device-width: 360px){

  /*cards-animes-jogos*/
  div.container-fluid main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main div.row div.col-sm-4{
    position: relative;
    margin-bottom: 1.25rem;
  }

  main div.row div.col-sm-4 div.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main div.row div.col-sm-4 div.card-content img{
    width: 76%;
    height: 15.625rem;
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-top: 0.1875rem solid var(--white);
  }

  main div.row div.col-sm-4 div.card-content div.card-footer{
    background-color: var(--grey);
    width: 76%;
    border-left: 0.1875rem solid var(--white);
    border-right: 0.1875rem solid var(--white);
    border-bottom: 0.1875rem solid var(--white);
    text-align: center;
  }
}