:root{
    --grey: #808080;
    --white: #FFFFFF;
    --red: #c9302c;
}
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
@media only screen and (min-device-width: 963px){

   /*card de obesevação*/
   div.container-fluid div.card-note{
    width: 70%;
    position: relative;
    left: 15%;
  }

  div.container-fluid div.card-note div.card-header{
    background-color: var(--red);
    padding: 0.9375rem;
    border-radius: 1rem 1rem 0 0;
  }

  div.container-fluid div.card-note div.card-body{
    background-color: var(--grey);
    padding: 1.5625rem;
    color: var(--white);
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*card de observação página inicial*/
  div.container-fluid div#card-note{
    width: 70%;
    position: relative;
    left: 15%;
  }

  div.container-fluid div#card-note div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 1rem 1rem 0 0;
  }

  div.container-fluid div#card-note div.card-body{
    padding: 1.5625rem;
    background-color: var(--grey);
    border-radius: 0 0 1rem 1rem;
    color: var(--white);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 962px) and (min-device-width: 769px){

   /*card de obesevação*/
   div.container-fluid div.card-note{
    width: 80%;
    position: relative;
    left: 5.9375rem;
  }

  div.container-fluid div.card-note div.card-header{
    background-color: var(--red);
    padding: 0.9375rem;
    border-radius: 1rem 1rem 0 0;
  }

  div.container-fluid div.card-note div.card-body{
    background-color: var(--grey);
    padding: 2.1875rem;
    color: var(--white);
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*card de observação página inicial*/
  div.container-fluid div#card-note{
    width: 80%;
    position: relative;
    left: 5.9375rem;
  }

  div.container-fluid div#card-note div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 1rem 1rem 0 0;
  }

  div.container-fluid div#card-note div.card-body{
    padding: 2.1875rem;
    background-color: var(--grey);
    border-radius: 0 0 1rem 1rem;
    color: var(--white);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 541px){

  /*card de obesevação*/
  div.container-fluid div.card-note{
    width: 80%;
    position: relative;
    left: 4.6875rem;
  }

  div.container-fluid div.card-note div.card-header{
    background-color: var(--red);
    padding: 0.9375rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div.card-note div.card-body{
    background-color: var(--grey);
    padding: 2.1875rem;
    color: var(--white);
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*card de observação página inicial*/
  div.container-fluid div#card-note{
    width: 80%;
    position: relative;
    left: 4.6875rem;
  }

  div.container-fluid div#card-note div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div#card-note div.card-body{
    padding: 2.1875rem;
    background-color: var(--grey);
    border-radius: 0 0 0.25rem 0.25rem;
    color: var(--white);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 540px) and (min-device-width: 415px){

  /*card de obesevação*/
  div.container-fluid div.card-note{
    position: relative;
    left: 1.25rem;
    width: 92%;
  }

  div.container-fluid div.card-note div.card-header{
    background-color: var(--red);
    padding: 0.9375rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div.card-note div.card-body{
    background-color: var(--grey);
    padding: 0.9375rem;
    color: var(--white);
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*card de observação página inicial*/
  div.container-fluid div#card-note{
    position: relative;
    left: 1.25rem;
    width: 92%;
  }  

  div.container-fluid div#card-note div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div#card-note div.card-body{
    padding: 1.5625rem;
    background-color: var(--grey);
    border-radius: 0 0 0.25rem 0.25rem;
    color: var(--white);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 414px) and (min-device-width: 361px){

  /*card de obesevação*/
  div.container-fluid div.card-note div.card-header{
    background-color: var(--red);
    padding: 0.9375rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div.card-note div.card-body{
    background-color: var(--grey);
    padding: 0.9375rem;
    color: var(--white);
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*card de observação página inicial*/
  div.container-fluid div#card-note div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div#card-note div.card-body{
    padding: 0.9375rem;
    background-color: var(--grey);
    border-radius: 0 0 0.25rem 0.25rem;
    color: var(--white);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 360px){

  /*card de obesevação*/
  div.container-fluid div.card-note div.card-header{
    background-color: var(--red);
    padding: 0.9375rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div.card-note div.card-body{
    background-color: var(--grey);
    padding: 0.9375rem;
    color: var(--white);
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  /*card de observação página inicial*/
  div.container-fluid div#card-note div.card-header{
    padding: 0.9375rem;
    background-color: var(--red);
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div#card-note div.card-body{
    padding: 0.9375rem;
    background-color: var(--grey);
    border-radius: 0 0 0.25rem 0.25rem;
    color: var(--white);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}
