:root{
    --cyan: #00FFFF;
    --grey: #808080;
    --white: #FFFFFF;
}
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
@media only screen and (min-device-width: 963px){

     /*card de música*/
  main div.card-music{
    width: 70%;
    position: relative;
    left: 15%;
  }

  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 1.5625rem;
    border-radius: 1rem 1rem 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 3.125rem;
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 1.25rem 0;
  }

  /*card de música da página inicial*/
  div.container-fluid div#card-music-home{
    width: 70%;
    position: relative;
    left: 15%;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 1rem 1rem 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding-left: 5rem;
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 962px) and (min-device-width: 769px){

  /*card de música*/
  main div.card-music{
    width: 80%;
  }

  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 1.5625rem;
    border-radius: 1rem 1rem 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 3.4375rem;
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 1.25rem 0;
  }

  /*card de música da página inicial*/
  div.container-fluid div#card-music-home{
    width: 80%;
    position: relative;
    left: 5.9375rem;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);

    border-radius: 1rem 1rem 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 2.1875rem 6.25rem;
    border-radius: 0 0 1rem 1rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 541px){

     /*card de música*/
  main div.card-music{
    width: 80%;
  }

  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 1.5625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 3.4375rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 1.25rem 0;
  }

  /*card de música da página inicial*/

  div.container-fluid div#card-music-home{
    width: 80%;
    position: relative;
    left: 4.6875rem;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 1.25rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 2.1875rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 540px) and (min-device-width: 415px){

     /*card de música*/
  main div.card-music{
    width: 92%;
  }

  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 0.9375rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 2.1875rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 1.25rem 0;
  }

  /*card de música da página inicial*/
  div.container-fluid div#card-music-home{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 1.25rem;
    width: 92%;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 1.875rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 414px) and (min-device-width: 361px){

    /*card de música*/
  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 0.9375rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 2.1875rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 1.25rem 0;
  }

  /*card de música da página inicial*/
  div.container-fluid div#card-music-home{
    display: flex;
    flex-direction: column;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 1.875rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}

@media only screen and (max-device-width: 360px){

    /*card de música*/
  main div.card-music div.card-header{
    background-color: var(--cyan);
    padding: 0.9375rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  main div.card-music div.card-body{
    background-color: var(--grey);
    padding: 2.1875rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }

  main div.card-music div.card-body ol li{
    margin: 1.25rem 0;
  }

  /*card de música da página inicial*/
  div.container-fluid div#card-music-home{
    display: flex;
    flex-direction: column;
  }

  div.container-fluid div#card-music-home div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.container-fluid div#card-music-home div.card-body{
    background-color: var(--grey);
    padding: 1.875rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
  }
}
