:root{
    --black: black;
    --cyan: cyan;
    --grey: grey;
    --white: white;
    --red: #c9302c;
    --blue: royalblue;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*divisão do menu aside com o conteudo de formularios*/
body div#content{
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 2%;
    
}

/*menu aside*/

div#content aside{
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: burlywood;
    border-radius: 16px;
    height: 600px;
}

aside div header h2{
    text-align: center;
}

aside div header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

aside div header img{
    width: 40%;
    border-radius: 50%;
}

aside div#aside-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    align-items: center;
}

aside div#aside-content img{
    width: 25%;
}

aside div#aside-content a{
    text-decoration: none;
    color: var(--black);
}

/*divisão do espaço dos formularios*/
main#main-form{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main#main-form div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main#main-form form{
    width: 45%;
    background-color: tomato;
    padding: 30px;
    border-radius: 12px;
}

main#main-form div#observation-form{
    position: relative;
    left: 28%;
}

/*formulario de animes*/
form fieldset div.input-group{
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    width: 95%;
}

form div.input-group label{
    text-align: start;
    width: 100%;
}

form div.input-group input{
    width: 100%;
    border-radius: 12px;
    height: 40px;
}

/* Utilidades */
main#main-form form div#button-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form div#button-group button{
    width: 40%;
    padding: 10px;
    border-radius: 16px;
    border: none;
}


button.confirm{
    background-color: greenyellow;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
}

button.confirm:hover{
    transition: 1s;
    background-color: limegreen;
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.8);
    filter: brightness(0.5);
}


button.cancel{
    background-color: var(--red);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
}

button.cancel:hover{
    transition: 1s;
    background-color: red;
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.8);
    filter: brightness(0.7);
}