:root{
    --black: black;
    --cyan: cyan;
    --grey: grey;
    --white: white;
    --red: #c9302c;
    --blue: royalblue;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


@media screen and (min-device-width: 992px) {

    /*divisão do menu aside com o conteudo de formularios*/
    body div#content{
        width: 98%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 0 2%;
        
    }

    /*divisão do espaço dos formularios*/
    main#main-form{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    main#main-form div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /*formulario*/
    main#main-form form{
        width: 45%;
        background-color: floralwhite;
        border-radius: 12px;
        border: 1px solid black;
    }
    
    main#main-form form fieldset legend{
        background-color: darkgrey;
        border-radius: 12px 12px 0 0;
        padding: 10px;
        text-align: center;
    }

    main#main-form form fieldset div.content{
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    form fieldset div.input-group{
        margin: 0 0 20px;
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    form div.input-group label{
        text-align: start;
        width: 100%;
    }

    form div.input-group input{
        width: 100%;
        border-radius: 12px;
        height: 40px;
        padding: 10px;
        font-size: 20px;
    }
}

/* Utilidades */
main#main-form form div#button-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form div#button-group button{
    width: 45%;
    padding: 10px;
    border-radius: 16px;
}


button.search{
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

button.search:hover{
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
}


button.clear{
    background-color: white;
    color: dimgray;
    border: 1px solid dimgray;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

button.clear:hover{
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
}


button.new-register{
    background-color: white;
    color: limegreen;
    border: 1px solid limegreen;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

button.new-register:hover{
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
}

@media screen and (max-device-width: 360x){
    body div#content{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    main#main-form{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    main#main-form div{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /*formulario*/
    main#main-form div form.form-group{
        width: 98%;
        background-color: floralwhite;
        border-radius: 12px;
        border: 1px solid black;
        margin: 0 2%;
    }    

    main#main-form form fieldset legend{
        background-color: darkgrey;
        border-radius: 12px 12px 0 0;
        padding: 10px;
        text-align: center;
    }

    main#main-form form fieldset div.content{
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    form fieldset div.input-group{
        margin: 0 0 20px;
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    form div.input-group label{
        text-align: start;
        width: 100%;
    }

    form div.input-group input{
        width: 100%;
        border-radius: 12px;
        height: 40px;
        padding: 10px;
        font-size: 20px;
    }

}