:root{
    --black: black;
    --cyan: cyan;
    --grey: grey;
    --white: white;
    --red: #c9302c;
    --blue: royalblue;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*divisão do menu aside com o conteudo de formularios*/
body div#content{
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 2%;
    
}

/*menu aside*/

div#content aside{
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: whitesmoke;
    border-radius: 16px;
    height: 500px;
    border: 1px solid black;
}

aside div header h2#user-data{
    text-align: center;
    background-color: royalblue;
    border-radius: 16px 16px 0 0;
}

aside div header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

aside div header img{
    width: 35%;
    border-radius: 50%;
}

aside div#aside-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    align-items: center;
}

aside div#aside-content img{
    width: 25%;
}

aside div#aside-content a{
    text-decoration: none;
    color: var(--black);
}

/*divisão do espaço dos formularios*/
main#main-form{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main#main-form div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*formulario*/

main#main-form form{
    width: 45%;
    background-color: floralwhite;
    border-radius: 12px;
    border: 1px solid black;
}

main#main-form form fieldset legend{
    background-color: darkgrey;
    border-radius: 12px 12px 0 0;
    padding: 10px;
    text-align: center;
}

main#main-form form fieldset div.content{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

form fieldset div.input-group{
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    width: 95%;
}

form div.input-group label{
    text-align: start;
    width: 100%;
}

form div.input-group input{
    width: 100%;
    border-radius: 12px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
}

/* Utilidades */
main#main-form form div#button-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form div#button-group button{
    width: 45%;
    padding: 10px;
    border-radius: 16px;
}


button.search{
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

button.search:hover{
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
}


button.clear{
    background-color: white;
    color: dimgray;
    border: 1px solid dimgray;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

button.clear:hover{
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
}


button.new-register{
    background-color: white;
    color: limegreen;
    border: 1px solid limegreen;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

button.new-register:hover{
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
}

