:root{
    --black: #000000;
    --white: #ffffff;
    --floralwhite : #FFFAF0;
    --darkgrey: #A9A9A9;
    --blueviolet: #8A2BE2;
    --dimgray: #696969;
    --limegreen: #32CD32;
}
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


@media screen and (min-device-width: 963px) {

    /*divisão do menu aside com o conteudo de formularios*/
    body div#content{
        width: 98%;
        display: flex;
        flex-direction: column;
        margin: 2%;
    }

    /*divisão do espaço dos formularios*/
    main#main-form{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    main#main-form div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 2%;
    }

    /*formulario*/
    main#main-form form{
        width: 45%;
        background-color: var(--floralwhite);
        border-radius: 0.75rem;
        border: 0.0625rem solid var(--black);
    }
    
    main#main-form form fieldset legend{
        background-color: var(--darkgrey);
        border-radius: 0.75rem 0.75rem 0 0;
        padding: 0.625rem;
        text-align: center;
    }

    main#main-form form fieldset div.content{
        width: 90%;
        padding: 0.9375rem;
        display: flex;
        flex-direction: column;
    }

    form fieldset div.input-group{
        margin: 0 0 1.25rem;
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    form div.input-group label{
        text-align: start;
        width: 100%;
    }

    form div.input-group input{
        width: 100%;
        border-radius: 0.75rem;
        height: 2.5rem;
        padding: 0.625rem;
        font-size: 1.25rem;
    }

    form div.input-group textarea{
        border-radius: 0.75rem;
        padding: 0.625rem;
        font-size: 1.25rem;
        width: 100%;
    }

    form div.input-group select{
        width: 100%;
        border-radius: 0.75rem;
        overflow: hidden;
        padding: 0.625rem;
        font-size: 1.25rem;
    }
}

@media screen and (max-device-width: 962px){
    body div#content{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    div#content main#main-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div#content main#main-form div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*formulario*/
    div#content main#main-form div form{
        width: 95%;
        background-color: var(--floralWhite);
        border-radius: 0.75rem;
        border: 0.0625rem solid var(--black);
        margin: 2% 2%;
    }    

    main#main-form form fieldset legend{
        background-color: var(--darkgrey);
        border-radius: 0.75rem 0.75rem 0 0;
        padding: 0.625rem;
        text-align: center;
    }

    main#main-form form fieldset div.content{
        padding: 0.9375rem;
        display: flex;
        flex-direction: column;
    }

    form fieldset div.input-group{
        margin: 0 0 1.25rem;
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    form div.input-group label{
        text-align: start;
        width: 100%;
    }

    form div.input-group input{
        width: 100%;
        border-radius: 0.75rem;
        height: 2.5rem;
        padding: 0.625rem;
        font-size: 1.25rem;
    }

    form div.input-group textarea{
        border-radius: 0.75rem;
        padding: 0.625rem;
        font-size: 1.25rem;
        width: 100%;
    }

    form div.input-group select{
        width: 100%;
        border-radius: 0.75rem;
        overflow: hidden;
        padding: 0.625rem;
        font-size: 1.25rem;
    }
}

/* Utilidades */
main#main-form form div#button-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form div#button-group button{
    width: 45%;
    padding: 0.625rem;
    border-radius: 1rem;
    outline: none;
}

button.search{
    background-color: var(--white);
    color: var(--blueviolet);
    border: 0.0625rem solid var(--blueviolet);
    box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

button.search:hover{
    box-shadow: 0.125rem 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
}

button.clear{
    background-color: var(--white);
    color: var(--dimgray);
    border: 0.0625rem solid var(--dimgray);
    box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

button.clear:hover{
    box-shadow: 0.125rem 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
}

button.new-register{
    background-color: var(--white);
    color: var(--limegreen);
    border: 0.0625rem solid va(--limegreen);
    box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

button.new-register:hover{
    box-shadow: 0.125rem 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
}
