/*existe ao todo 2 Modals */


/*Modal de autenticação para entrar em registros*/

div.modal-config-site{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
    z-index: 999;
    visibility: hidden;
    opacity: 0;
  
  }
  
  div.modal-config-site.active{
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
  
  div.modal-config-site div#modal{
    background-color: #F0F2f5;
    width: 90%;
    max-width: 500px;
    position: relative;
    z-index: 2;
    border-radius: 6px;
    border: 1px solid white;
  }
  
  div.modal-config-site div#modal form header,
  div.modal-config-site div#modal form header h2{
    padding: 10px;
    text-align: center;
    background-color: gainsboro;
  }
  
  div.modal-config-site form div#content-login{
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
  }
  
  div.modal-config-site form div#content-login div.input-group{
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  
  div.modal-config-site form div#content-login div.input-group label{
    text-align: start;
    width: 100%;
  }
  
  div.modal-config-site form div#content-login div.input-group input{
    width: 100%;
    border-radius: 12px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
  }
  
  
  div#modal div#content-login div#button-login-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  
  div#button-login-group button#login{
    width: 45%;
    padding: 10px;
    background-color: #F0F2f5;
    color: orangered;
    border: 1px solid orangered;
    border-radius: 8px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
  }
  
  div#button-login-group button#login:hover{
    filter: brightness(0.6);
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  
  div#button-login-group button#cancel-login{
    width: 45%;
    padding: 10px;
    background-color: #F0F2f5;
    color: red;
    border: 1px solid red;
    border-radius: 8px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7); 
  }
  
  div#button-login-group button#cancel-login:hover{
    filter: brightness(0.6);
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

/*Modal para deletar registros */

button#open-modal-delete-button{
  width: 45%;
  padding: 10px;
  background-color: #F0F2f5;
  color: red;
  border: 1px solid red;
  border-radius: 8px;
  transition: 0.5s;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.8);
  
}

button#open-modal-delete-button:hover{
  filter: brightness(0.6);
  box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
}


div#update-delete-data div.modal-delete{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
    visibility: hidden;
    opacity: 0;

}

div#update-delete-data div.modal-delete.active{
    visibility: visible;
    opacity: 1;
}

div.modal-delete div#modal{
    background-color: #F0F2f5;
    padding: 2.4rem;
    width: 90%;
    max-width: 500px;
    position: relative;
    z-index: 1;
    border-radius: 6px;
    border: 1px soli white;
}

div#modal header,
div#modal header h2{
    background-color: #F0F2f5;
}

div#modal div#button-delete-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

div#button-delete-group button#confirm-delete{
    width: 45%;
    padding: 10px;
    background-color: #F0F2f5;
    color: red;
    border: 1px solid red;
    border-radius: 8px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
}

div#button-delete-group button#confirm-delete:hover{
    filter: brightness(0.6);
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

div#button-delete-group button#cancel-delete{
    width: 45%;
    padding: 10px;
    background-color: #F0F2f5;
    color: darkcyan;
    border: 1px solid darkcyan;
    border-radius: 8px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7); 
}

div#button-delete-group button#cancel-delete:hover{
    filter: brightness(0.6);
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
}