:root{
    --cyan: #00FFFF;
    --grey: #808080; 
    --white: ##FFFFFF;
}
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  div.card.card-carousel div.card-body button.button-slid{
    background-color: rgba(0, 0, 0, 0.4);
    height: 30%;
    width: 5%;
    color: var(--white);
    cursor: pointer;
    outline: none;
    margin: 0.625rem;
    border: none;
  }
  
div.card.card-carousel div.card-body div.border-box-load{
    width: 100%;
    height: 0.9375rem;
    margin-top: 25%;
    border: 0.0625rem solid rgba(255, 255, 255, 0.3);

}

  
  div.card.card-carousel div.card-body div#box-load-animes{
    width: 0%;
    height: 100%;
    background-color: #fff;
  }

  div.card.card-carousel div.card-body div#box-load-games{
    width: 0%;
    height: 100%;
    background-color: #fff;
  }

  div.card.card-carousel div.card-body{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
@media only screen and (min-device-width: 963px){
   /*Carousel de animes e jogos*/
   main div.card.card-carousel{
    width: 60%;
    display: flex;
    margin-left: 6%;
  }

  div.card.card-carousel div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 1rem 1rem 0 0;
  }

  div.card.card-carousel div.card-body{
    background-color: var(--grey);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
    border-radius: 0 0 16px 16px;
    background-size: 70% 100%;
    height: 25rem;
  }
}

@media only screen and (max-device-width: 962px) and (min-device-width: 769px){
  /*Carousel de animes e jogos*/
  main div.card.card-carousel{
    width: 80%;
  }

  div.card.card-carousel div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem 0 0.625rem 1.875rem;
    border-radius: 1rem 1rem 0 0;
  }

  div.card.card-carousel div.card-body{
    background-color: var(--grey);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
    border-radius: 0 0 1rem 1rem;
    background-size: 100% 100%;
    height: 34.375rem;
  }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 541px){
   /*Carousel de animes e jogos*/
   main div.card.card-carousel{
    width: 80%;
  }

  div.card.card-carousel div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.card.card-carousel div.card-body{
    background-color: var(--grey);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
    background-size: 100% 100%;
    height: 30.625rem;
  }
}

@media only screen and (max-device-width: 540px) and (min-device-width: 415px){

  /*Carousel de animes e jogos*/
  main div.card.card-carousel{
    width: 92%;
  }

  div.card.card-carousel div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.card.card-carousel div.card-body{
    background-color: var(--grey);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
    background-size: 100% 100%;
    height: 25rem;
  }
}

@media only screen and (max-device-width: 414px) and (min-device-width: 361px){

  /*Carousel de animes e jogos*/
  main div.card.card-carousel{
    width: 92%;
  }

  div.card.card-carousel div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.card.card-carousel div.card-body{
    background-color: var(--grey);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
    background-size: 100% 100%;
    height: 21.875rem;
  }
}

@media only screen and (max-device-width: 360px){

  /*Carousel de animes*/
  div.card.card-carousel{
    width: 100%;
  }

  div.card.card-carousel div.card-header{
    background-color: var(--cyan);
    padding: 0.625rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  div.card.card-carousel div.card-body{
    background-color: var(--grey);
    border-left: 0.125rem solid var(--white);
    border-right: 0.125rem solid var(--white);
    border-bottom: 0.125rem solid var(--white);
    background-size: 100% 100%;
    height: 18.75rem;
  }
}
