:root{
  --black: black;
  --cyan: cyan;
  --grey: grey;
  --white: white;
  --red: #c9302c;
  --blue: royalblue;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 100%
}

body{
  background-color: rgb(20, 20, 20);
}

/*links*/
a{
  color: var(--cyan);
}

a:hover{
  color: var(--red);
}

/*Modal*/
div.modal-config-site{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
  visibility: hidden;
  opacity: 0;

}

div.modal-config-site.active{
  visibility: visible;
  opacity: 1;
}

div.modal-config-site div#modal{
  background-color: #F0F2f5;
  width: 90%;
  max-width: 500px;
  position: relative;
  z-index: 1;
  border-radius: 6px;
  border: 1px solid white;
}

div.modal-config-site div#modal form header,
div.modal-config-site div#modal form header h2{
  padding: 10px;
  text-align: center;
  background-color: gainsboro;
}

div.modal-config-site form div#content-login{
  padding: 25px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

div.modal-config-site form div#content-login div.input-group{
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
  width: 95%;
}

div.modal-config-site form div#content-login div.input-group label{
  text-align: start;
  width: 100%;
}

div.modal-config-site form div#content-login div.input-group input{
  width: 100%;
  border-radius: 12px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
}


div#modal div#content-login div#button-login-group{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


div#button-login-group button#login{
  width: 45%;
  padding: 10px;
  background-color: #F0F2f5;
  color: orangered;
  border: 1px solid orangered;
  border-radius: 8px;
  transition: 0.5s;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
}

div#button-login-group button#login:hover{
  filter: brightness(0.6);
  box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

div#button-login-group button#cancel-login{
  width: 45%;
  padding: 10px;
  background-color: #F0F2f5;
  color: red;
  border: 1px solid red;
  border-radius: 8px;
  transition: 0.5s;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7); 
}

div#button-login-group button#cancel-login:hover{
  filter: brightness(0.6);
  box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

button.button-navbar{
  border: none;
  background-color: transparent;
}

@media only screen and (min-device-width: 60.1875rem){
  html{
    font-size:1.25rem;
  }

  /*menu*/
  nav#toggle{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

@media only screen and (max-device-width: 60.125rem) and (min-device-width: 48.0625rem){
  html{
    font-size: 1.875rem;
  }

  /*menu*/
  nav#toggle{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

@media only screen and (max-device-width: 48rem) and (min-device-width: 33.8125rem){
  html{
    font-size: 1.5625rem;
  }

  /*menu*/
  nav#toggle{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

@media only screen and (max-device-width: 33.75rem) and (min-device-width: 25.9375rem){
  html{
    font-size: 1.25rem;
  }

  /*menu*/
  nav#menu_full{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

@media only screen and (max-device-width: 25.875rem) and (min-device-width: 22.5625rem){
  html{
    font-size: 1rem;
  }

  /*menu*/
  nav#menu_full{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

@media only screen and (max-device-width: 22.5rem){
  html{
    font-size: 1rem;
  }

  /*menu*/
  nav#menu_full{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

