:root{
  --cyan: #00FFFF;
  --blue: #4169E1;
  --blueviolet: #8A2BE2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 100%
}

body{
  background-color: rgb(20, 20, 20);
}

button,
input{
  outline: none;
}

/*links*/
a{
  color: var(--cyan);
}

a:hover{
  color: var(--red);
}

/*botões para trocar de página de conteu do em animes e jogos*/
ul.pagination-styles{
  gap: 0.625rem; 
}

ul.pagination-styles li.page-item a{
  border: 0.0625rem solid royalblue;
  color: royalblue;
  filter: brightness(0.6);
}

ul.pagination-styles li.page-item a.page-link.active{
  border: 0.0625rem solid var(--blueviolet);
  color: var(--blueviolet);
  filter: brightness(1);
  background-color: #fff;
}

ul.pagination-styles li.page-item:hover{
  background-color: rgba(0, 0, 0, 0.4);
  filter: brightness(0.6);
}

@media only screen and (min-device-width: 963px){
  html{
    font-size:1.25rem;
  }

  /*menu*/
  nav#toggle{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

@media only screen and (max-device-width: 962px) and (min-device-width: 769px){
  html{
    font-size: 1.875rem;
  }

  /*menu*/
  nav#toggle{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 541px){
  html{
    font-size: 1.5625rem;
  }

  /*menu*/
  nav#toggle{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

@media only screen and (max-device-width: 540px) and (min-device-width: 415px){
  html{
    font-size: 1.25rem;
  }

  /*menu*/
  nav#menu_full{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

@media only screen and (max-device-width: 414px) and (min-device-width: 361px){
  html{
    font-size: 1rem;
  }

  /*menu*/
  nav#menu_full{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

@media only screen and (max-device-width: 360px){
  html{
    font-size: 1rem;
  }

  /*menu*/
  nav#menu_full{
    display: none;
  }

  /*titulo*/
  header h1{
    color: var(--blue);
    text-align: center;
  }
}

