body div#update-anime{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

div#update-anime header{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    background-color: darkgray;
}

div#update-anime header h1{
    width: 100%;
    text-align: center;
    color: black;
}

div#update-anime header a{
    font-size: 50px;
    font-weight: 500;
    margin-left: 1%;
    color: black;
}


div#update-anime main{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}
/*formulario*/

div#update-anime main form{
    width: 50%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
    left: 5%;
    
}

div#update-anime main form legend{
    background-color: darkgray;
    text-align: center;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

div#update-anime main form div#form-content-update{
    padding: 0 20px 20px;
}

div#update-anime main form div#button-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#update-anime main form div#button-group button#update-cancel-button{
   width: 45%;
   color: red;
   border: 1px solid red;
   border-radius: 8px;
   transition: 0.5s;
   box-shadow: 3px rgba(0, 0, 0, 0.7);
}

button#update-cancel-button:hover{
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
    filter: brightness(0.8);
}

main form div#button-group button#update-confirm-button{
    width: 45%;
   color: darkcyan;
   border: 1px solid darkcyan;
   border-radius: 8px;
   transition: 0.5s;
   box-shadow: 3px rgba(0, 0, 0, 0.7);
}

button#update-confirm-button:hover{
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
    filter: brightness(0.8);
}

/*aside*/
div#update-anime main aside{
    width: 30%;
    position: relative;
    right: 5%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 12px;
}

div#update-anime main aside div header{
    padding: 10px;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 8px 8px 0 0;
}

div#update-anime main aside div div#delete-image-button{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

div#update-anime main aside div img{
    width: 35%;
    height: 35%;
}

button#open-modal-delete-button{
    width: 45%;
    padding: 10px;
    background-color: #F0F2f5;
    color: red;
    border: 1px solid red;
    border-radius: 8px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.8);
    
}


button#open-modal-delete-button:hover{
    filter: brightness(0.6);
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* Modal */
div#update-anime div.modal-delete{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
    visibility: hidden;
    opacity: 0;

}

div#update-anime div.modal-delete.active{
    visibility: visible;
    opacity: 1;
}

div.modal-delete div#modal{
    background-color: #F0F2f5;
    padding: 2.4rem;
    width: 90%;
    max-width: 500px;
    position: relative;
    z-index: 1;
    border-radius: 6px;
    border: 1px soli white;
}

div#modal header{
    background-color: #F0F2f5;
}

div#modal div#button-delete-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

div#button-delete-group button#confirm-delete{
    width: 45%;
    padding: 10px;
    background-color: #F0F2f5;
    color: red;
    border: 1px solid red;
    border-radius: 8px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
}

div#button-delete-group button#confirm-delete:hover{
    filter: brightness(0.6);
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

div#button-delete-group button#cancel-delete{
    width: 45%;
    padding: 10px;
    background-color: #F0F2f5;
    color: darkcyan;
    border: 1px solid darkcyan;
    border-radius: 8px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7); 
}

div#button-delete-group button#cancel-delete:hover{
    filter: brightness(0.6);
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
}