
body div#update-delete-data{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

div#update-delete-data header{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    background-color: darkgray;
}

div#update-delete-data header h1{
    width: 100%;
    text-align: center;
    color: black;
}

div#update-delete-data header a{
    font-size: 50px;
    font-weight: 500;
    margin-left: 1%;
    color: black;
}


div#update-delete-data main{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    margin-bottom: 30px;
}
/*formulario*/

div#update-delete-data main form{
    width: 50%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
    left: 5%;
    
}

div#update-delete-data main form legend{
    background-color: darkgray;
    text-align: center;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

div#update-delete-data main form div#form-content-update{
    padding: 0 20px 20px;
}

div#update-delete-data main form div#button-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.clear{
    background-color: white;
    color: dimgray;
    border: 1px solid dimgray;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

button.clear:hover{
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
}

main form div#button-group button#update-confirm-button{
    width: 45%;
   color: darkcyan;
   border: 1px solid darkcyan;
   border-radius: 8px;
   transition: 0.5s;
   box-shadow: 3px rgba(0, 0, 0, 0.7);
}

button#update-confirm-button:hover{
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.5);
    filter: brightness(0.8);
}


