<aside>
    <div>
        <header>
            <h2 id="user-data">Menu de trabalho</h2>
            <div>
                <img src="." alt="Foto do usuario">
                <p> jose  <br>
                <a href="http://">facebook </a></p>
            </div>                  
        </header>
        <div id="aside-content">
            <div>
                <a href="/registers">
                    <img src="/images/icons/create-new.png" alt="criar registros" title="criação de registros">Criar novo registro
                </a>
            </div>
            <div>
                <a href="/registers/update">
                    <img src="/images/icons/multi-edit.png" alt="atualização de registros" title="atualizar registros">Atualizar/Deletar registro
                </a>
            </div>
        </div>
    </div>
</aside>
