<ul class="pagination pagination-lg justify-content-center">
    <li class="page-item active">
        <a class="page-link" href="<%= Page1 %>" tabindex="34">1</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="<%= Page2 %>" tabindex="35" id="proximaPagina">2</a>
    </li>
</ul>