	<!-- Meta -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%= title %> </title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!--Font awesome 4-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Css da página -->
    <link rel="stylesheet" href="/styles/style.css">
	<link rel="stylesheet" href="/styles/aside.css">
	<link rel="stylesheet" href="/styles/cardFooter.css">
	<link rel="stylesheet" href="/styles/cardNote.css">
	<link rel="stylesheet" href="/styles/cardSongs.css">
	<link rel="stylesheet" href="/styles/carousel.css">
	<link rel="stylesheet" href="/styles/card-Animes-Games.css">
	<link rel="stylesheet" href="/styles/formStyles.css">
	<link rel="stylesheet" href="/styles/updateFormStyle.css">
