<div class="card-note">
    <div class="card-header">
        <h2 class="card-title">Observação!</h2>
    </div>
    <div class="card-body">
        <p class="card-text">Todos os animes estão linkados com o site meuanime.com o motivo para isso é apenas a prefêrencia pessoal da administração da página, no entanto os outros sites recomendados na página inicial também são ótimas escolhas para assistir o anime que desejar.<br><br>
        Se você tem alguma sugestão de anime/jogo/música, ou algum dos link estiver quebrado, ou possuir sugestões para melhorar a página, mande mensagem para nós, o link do facebook do administrador responsavel por essas operações esta logo a baixo! </p>
    </div>
</div>
<br>