<div class="card-note">
    <div class="card-header">
        <h2 class="card-title"><%= title %> </h2>
    </div>
    <div class="card-body">
        <p class="card-text">
            
            <%= observation.information %> 
        </p>
            
        <p class="card-text">
            <%= suggestion.information %> 

        </p>
    </div>
</div>
<br>