
	<!-- Menu de navegação -->
	<nav class="navbar navbar-expand-sm sticky-top justify-content-center bg-danger navbar-dark text-dark" id="menu_full">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/" tabindex="1" title="inicio"><img src="/images/icons/home.png" alt="Inicio"></a>
			</li>
			<li class="nav-item ">
				<a class="nav-link " href="/animes" tabindex="2" title="Animes"><img src="/images/icons/naruto-sign.png" alt="Animes"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/games" tabindex="3" title="Jogos"><img src="/images/icons/controller.png" alt="Jogos"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/songs" tabindex="4" title="Musicas"><img src="/images/icons/musical-notes.png" alt="Musicas"></a>
			</li>
			<li class="nav-item">
				<button class="nav-link button-navbar" tabindex="4" onclick="Modal.openAuthenticate()" title="Configuração de Registros para administradores"><img src="/images/icons/administrative-tools.png" alt="registros"></button>
			</li>
		</ul>
	</nav>
	<!-- Menu de navegação para celular --> 
	<nav class="navbar navbar-expand-sm sticky-top justify-content-end bg-danger navbar-dark" id="toggle">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsiblenavbar"><span class="navbar-toggler-icon"></span></button>
			</div>
			<div class="collapse navbar-collapse" id="collapsiblenavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/" tabindex="1"><img src="/images/icons/home.png" alt="Inicio">Inicio</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link " href="/animes" tabindex="2"><img src="/images/icons/naruto-sign.png" alt="Animes">Animes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/games" tabindex="3"><img src="/images/icons/controller.png" alt="Jogos">Jogos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/songs" tabindex="4"><img src="/images/icons/musical-notes.png" alt="Musicas">Musicas</a>
					</li>
					<li class="nav-item">
						<button class="nav-link button-navbar" tabindex="4" onclick="Modal.openAuthenticate()"><img src="/images/icons/administrative-tools.png" alt="registros">Registros</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="modal-config-site">
		<div id="modal">
			<form action="/registers" method="post">
				<header>
					<h2>Logar como administrador?</h2>
				</header>
				<hr>
				<div id="content-login">
					<div class="input-group">
						<label for="user-name">Nome:</label>
						<input type="text" name="user-name" id="user-name">
					</div>

					<div class="input-group">
						<label for="user-password">Senha:</label>
						<input type="password" name="user-password" id="user-password">
					</div>

					<div id="button-login-group">
						<button type="submit" id="login">Logar</button>
						<button type="reset" onclick="Modal.closeAuthenticate()" id="cancel-login">Cancelar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<br>