<aside>
    <div>
        <header>
            <h2>Menu de trabalho</h2>
            <div>
                <img src="https://avatars.githubusercontent.com/u/71531287?s=400&u=d0eae7cf3edb2e3d8d6ec3bbcd988fda4a7baf11&v=4" alt="Foto do usuario">
                <p>José Jonathan <br>
                Link do facebook</p>
            </div>                  
        </header>
        <div id="aside-content">
            <div>
                <a href="/registers">
                    <img src="/images/icons/create-new.png" alt="criação de registros">Criar novo registro
                </a>
            </div>
            <div>
                <a href="/registers/update">
                    <img src="/images/icons/multi-edit.png" alt="atualização de registros">Atualizar/Deletar registro
                </a>
            </div>
        </div>
    </div>
</aside>
